# =====================================================================
# DOCKER USER CONFIGURATION
# =====================================================================
# Sets the user and group ID for containers to prevent file permission issues.
UID=$(id -u)
GID=$(id -g)
# =====================================================================
# INSTANCE LEVEL CONFIGURATION
# =====================================================================
# customize this ETL path to the corresponding tailored extract query for the target gravityforms db origin
ETL_EXTRACT_PATH=./ETL/geo/federal/01_extract_24.sql
INSTANCE_NAME=Federal
INSTANCE_LOGO_PATH=/assets/images/logo.png
# =====================================================================
# DATABASE INITIALIZATION SETTINGS
# =====================================================================
POSTGRES_USER=app_user
POSTGRES_PASSWORD=pass
POSTGRES_DB=mydb
POSTGRES_DB_SCHEMA=sindicato_inq
# =====================================================================
# WORDPRESS / MARIADB AUTOMATION SETTINGS (only if cron is active)
# =====================================================================
WP_DB_USER=read_user
WP_DB_PASS=pass
WP_DB_NAME=dbname
GF_CONNECTION_MODE=direct
WP_DB_HOST=url_origen # Required only if GF_CONNECTION_MODE=direct # options direct&tunnel(ssh) allowed
WP_DB_PORT=3306 # Required only if GF_CONNECTION_MODE=direct
SSH_KEY=/home/username/.ssh/id_rsa # Required only  for GF_CONNECTION_MODE=tunnel (SSH Tunnel)
# =====================================================================
# DuckDNS Configuration
HOSTNAME=nombre.duckdns.org
DUCKDNS_TOKEN=secret-here
# SSL Configuration
EMAIL=name@gmail.com
# =====================================================================
# Application Configuration
POSTGRES_API_URL=http://server:3000
NICEGUI_STORAGE_SECRET=secret-here
PGRST_JWT_SECRET=reallyreallyreallyreallyverysafe32
DB_CONTAINER_NAME=tenantsunion-db-1
DEV_MODE=True