# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.pyo.*
*.pyd.*

# Environment and IDE
.venv
.vscode
.pytest_cache
.env

# Application storage and generated data
.nicegui/
storage/
screenshots/
htmlcov/
.coverage

# other local folders & files
back
dev
build/nginx/certbot