*.sql linguist-detectable=true
*.sql linguist-language=sql

# --- Shell scripts ---
*.sh linguist-language=Shell
*.bash linguist-language=Shell

# --- Dockerfiles ---
Dockerfile  linguist-detectable=true
*/Dockerfile  linguist-detectable=true
Dockerfile linguist-language=Dockerfile
*/Dockerfile linguist-language=Dockerfile

# --- Docker Compose (YAML) ---
*.yml linguist-detectable=true
docker-compose.yml linguist-language=YAML
docker-compose.yaml linguist-language=YAML
ci.yml linguist-language=YAML
ci.yaml linguist-language=YAML
