# Production environment single file
.env

# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage

# Environment and IDE specific
.venv/
.vscode/

# Application storage and generated data
.nicegui/
storage/
screenshots/
htmlcov/

# Other local folders & files
back/
dev/

# Ignore the build/nginx directory...
build/nginx/

# ...BUT keep the template file inside it.
!build/nginx/nginx.conf.template